@media screen and (min-width: 750px) {
  .container {
    margin: 0 auto;
    max-width: 1440px;
  }
  main {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 360px 662px 360px;
  }
  .bg {
    padding: 99px 0;
  }
  .bg > img.mobile-ISO,
  .bg > img.tablet-ISO {
    display: none;
  }
  .bg > img.desktop-ISO {
    display: block;
    max-height: 588px;
  }
  .main-content {
    gap: 72px;
  }

  /* About */
  .about,
  .functions {
    margin: 0 61px;
    padding: 77px;
    border-radius: 30px;
  }
  .about-container,
  .functions-container {
    gap: 236px;
    flex-flow: row nowrap;
  }
  .overline-about {
    height: 50px;
  }
  .overline-about > p {
    width: 200px;
  }

  /* benefits */
  .benefits {
    justify-content: center;
  }
  .card-feature {
    width: 295px;
    height: 328px;
  }
  .card-container {
    justify-content: center;
  }
  .card-content {
    height: 100%;
    flex-direction: column;
  }
  .circle-benefits {
    width: 56px;
    height: 56px;
  }

  /* Functions */
  .functions-container {
    padding: 32px 40px;
  }

  /* Infography */
  .infography {
    padding: 10px;
  }
  .container-infography {
    display: flex;
    padding: 62px 90px;
  }
  .card-step,
  .card-step > img {
    align-items: flex-start;
  }
  .step {
    gap: 18px;
    flex-direction: column;
  }
  .circle-info > img.circle-info-d {
    max-width: 325px;
    max-height: 216px;
  }
  .circle-info > img.circle-info-d,
  .d {
    display: block;
  }
  .circle-info > img.step-2 {
    width: 216px;
    height: 216px;
  }
  .circle-info > img.circle-info-m,
  img.m {
    display: none;
  }
  .step-container {
    width: 216px;
    padding-top: 60px;
  }
  .line {
    align-items: flex-start;
  }
  img.d {
    width: 195px;
    height: 216px;
  }

  /* Form */
  .contacto {
    padding: 44px 94px;
    border-radius: 30px;
    background-color: var(--background-primary);
  }
  .container-contacto {
    gap: 24px;
  }
  .left-column {
    width: 403px;
    display: flex;
    padding-top: 109px;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-container {
    gap: 36px;
  }
  .contact-form {
    gap: 19px;
  }
  .circle-form {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--logo);
    border: 2px solid var(--background-secondary);
  }
  .social-media {
    gap: 38px;
  }
  .fields-container {
    gap: 58px;
    width: 825px;
    border-radius: 30px;
    padding: 72px 105px;
  }
  form {
    row-gap: 22px;
    column-gap: 24px;
  }
  .text-box {
    width: 295px;
  }
  .input,
  .input > label {
    width: 295px;
  }
  .cod {
    width: 80px;
  }
  .tel {
    width: 189px;
  }
  .msj,
  .text-box {
    width: 100%;
  }
}
