header{
    display: flex;
    padding: 10px 99px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-secondary);
}
.logo{
    padding: 10px 20px;
}
.logo > img{
    max-width: 54.12px;
    max-height: 41.5px;
}
ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
    flex-flow: row wrap;
    align-items: center;
}
ul > li,a{
    font-size: 10px;
    color: #EFF2EB;
    line-height: 16px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'HelveticaNeueLTStd-Roman', sans-serif;
}
li:nth-last-child(1){
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--button-primary);
    border: solid 2px var(--button-primary);
}
