/*=============== HEADER ===============*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  padding: 0.625rem 1.3125rem;
  background-color: var(--background-secondary);
}

/*=============== NAV ===============*/
.nav__logo > img {
  max-width: 54.12px;
  max-height: 41.5px;
}
.nav__logo,
.nav__burger,
.nav__close {
  color: var(--background-primary);
}

.nav__data {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__logo {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}
a.contacto-desktop,
a.contacto-mobile {
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--button-primary);
  background-color: transparent;
  border: solid 1.5px var(--button-primary);
}
a.contacto-desktop:hover,
a.contacto-mobile:hover {
  color: var(--background-primary);
  background-color: var(--button-primary);
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .contacto-mobile {
    display: none !important;
  }
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--background-secondary);
    padding-top: 1rem;
  }
}

.nav__link {
  display: flex;
  font-weight: 300;
  font-size: 0.875rem;
  align-items: center;
  padding: 1.25rem 1.5rem;
  color: var(--background-primary);
  justify-content: space-between;
  transition: background-color 0.3s;
  background-color: var(--background-secondary);
}

.nav__link:hover {
  background-color: var(--background-secondary);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.8rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* ============== FOOTER ============== */

footer {
   gap: 45px;
   padding-top: 74px;
   position: relative;
   padding-bottom: 3.375rem;
   justify-content: center;
   color: var(--background-primary);
   background-color: var(--background-footer);
}
footer a {
  color: var(--background-primary);
}
.footer-container {
  gap: 45px;
  padding: 0 30px;
}
.info-containerF {
  gap: 48px;
}
.logo-footer > img {
  max-height: 86px;
  max-width: 186.68px;
}
.contact-footer {
  gap: 10px;
  flex-direction: column;
}
.footer-p,
.menuF-1 {
  gap: 10px;
}
.social-mediaF {
  gap: 48px;
}
/*.circle-contact {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--logo);
  border: 2px solid var(--background-secondary);
}*/
.menu-contactF {
  gap: 45px;
}
.menu-footer {
  gap: 48px;
  flex-direction: column;
}
.menuF-1 {
  flex-direction: column;
}
.menu-footer > ul {
  list-style: none;
  color: var(--background-primary);
}
.menu-footer > ul > li,
footer > p {
  font-weight: 300;
  text-transform: uppercase;
}
.footer-p {
  font-weight: 300;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .header {
    padding: 1.25rem 6.1875rem;
  }
  .nav {
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3.125rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .contacto-desktop {
    display: none;
  }
  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }

  footer {
    flex-direction: column;
    padding: 4rem 6rem 1rem 6rem;
  }
  footer > p.firma {
    font-size: 10px;
    font-weight: 100;
    text-align: center;
  }
  .footer-container {
    padding: 0px;
  }
  .info-containerF {
    gap: 202px;
    width: 100%;
    justify-content: space-between;
  }
  .menu-contactF,
  .menu-footer {
    gap: 202px;
  }
  .menu-contactF {
    flex-direction: row-reverse;
  }
  .menu-footer {
    flex-direction: row;
  }
}
