.container-body{
    max-width: 1440px;
}
main{
    display: grid;
    align-items: center;
    column-gap: 104px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    font-family: 'HelveticaNeueLTStd-Roman', sans-serif;
}
.ISO > img{
    max-height: 588px;
}
.ISO-2{
    display: flex;
    justify-content: flex-end;
}