@media screen and (min-width: 1025px) {
  main {
    top: 101px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 360px 662px 360px;
  }
  .bg {
    width: 100%;
    padding: 99px 0 99px 70px;
  }
  .bg-2 {
    padding: 99px 70px 99px 0;
  }
  .bg-2 > img.desktop-ISO {
    position: relative;
    right: 500px;
  }
  .bg > img.mobile-ISO,
  .bg > img.tablet-ISO {
    display: none;
  }
  .bg > img.desktop-ISO {
    display: block;
    max-height: 588px;
  }
  .main-content {
    gap: 72px;
    padding-top: 10px;
  }
  .marcas {
    width: 188px;
  }
  /* About */
  .about,
  .functions {
    padding: 77px;
    margin: 0 61px;
    border-radius: 30px;
  }
  .functions {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .about-container,
  .functions-container {
    gap: 236px;
    flex-flow: row nowrap;
  }
  .about-container {
    padding: 0;
  }
  .overline-about {
    height: 50px;
  }
  .overline-about > p {
    width: 247px;
  }

  /* benefits */
  .benefits {
    justify-content: center;
  }
  .card-feature {
    width: 295px;
    height: 328px;
  }
  .card-container {
    justify-content: center;
  }
  .card-content {
    height: 100%;
    flex-direction: column;
  }
  .text-benefits {
    width: 100%;
  }
  .button-benefits {
    max-width: 10.5rem;
  }
  .button-benefits:hover {
    max-width: 11.75rem;
  }
  /* Functions */
  .functions-container {
    padding: 32px 40px;
  }

  /* Infography */
  .infography {
    padding: 10px;
  }
  .container-infography {
    display: flex;
    padding: 62px 90px;
  }
  .card-step,
  .card-step > img {
    max-height: 300px;
    align-items: flex-start;
  }
  .step {
    gap: 18px;
    flex-direction: column;
  }
  .lista > p {
    font-size: 16px;
  }
  .circle-info > img.circle-info-d {
    max-width: 315px;
    max-height: 216px;
  }
  .circle-info > img.circle-info-d,
  .d {
    display: block;
  }
  .circle-info > img.step-2 {
    width: 216px;
    height: 216px;
  }
  .circle-info > img.circle-info-m,
  img.m {
    display: none;
  }
  .step-container {
    width: 216px;
    padding-top: 60px;
  }
  .line {
    width: 216px;
    align-items: flex-start;
  }
  #line-2 {
    height: 250px;
  }
  #line-3 {
    height: 280px;
  }
  .text-step {
    padding-top: 20px;
  }
  .texto-cardStep {
    gap: 10px;
  }
  /* .card-step2,
  .card-step3 {
    align-items: center;
  } */
  img.d {
    width: 195px;
    height: 216px;
  }

  /* Form */
  .contacto {
    z-index: 99;
    position: relative;
    border-radius: 30px;
    padding: 44px 94px 55px 94px;
    background-color: var(--background-primary);
  }
  .container-contacto {
    gap: 24px;
  }
  .left-column {
    width: 403px;
    display: flex;
    padding-top: 109px;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-container {
    gap: 36px;
  }
  .contact-form {
    gap: 19px;
  }
  .circle-form > img {
    max-height: 40px;
  }
  .social-media {
    gap: 38px;
  }
  .fields-container {
    gap: 58px;
    width: 825px;
    border-radius: 30px;
    padding: 72px 105px;
  }
  form {
    row-gap: 22px;
    column-gap: 24px;
  }

  .nombre-apellido,
  .empresa-cuit,
  .email-contacto {
    flex-direction: row;
  }
  .text-box {
    width: 295px;
  }
  .input,
  .input > label {
    width: 275px;
  }
  .cod {
    width: 80px;
  }
  .tel {
    gap: 10px;
    width: 100% !important;
  }
  .msj,
  .text-box {
    width: 100%;
  }
  .msj {
    height: auto;
  }
}
