/*=============== FONT ===============*/
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-55");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* BOTONES */
  --button-primary: #3fe396;

  /* FONDOS */
  --background-body: #e0e3dd;
  --background-primary: #eff2eb;
  --background-secondary: #3c3e3c;
  --background-footer: #1a1c1a;
  --background-form: #cfd2cc;
  --logo: #d9d9d9;

  /* TEXTOS */
  --text: #999c97;
  --headling-terciary: #5a5d59;
  --headling-four: #35b276;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Helvetica Neue LT Pro", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-body);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1440px;
}
a,
h6,
p {
  text-decoration: none;
  font-family: var(--body-font);
}
h1,
h2,
h3,
h4,
h5,
input,
textarea {
  font-family: "Helvetica Neue", sans-serif;
}
h1 {
  font-weight: 400;
  font-size: clamp(42px, 5vw, 72px);
  line-height: clamp(56px, 6vw, 80px);
}
h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
h3 {
  line-height: 40px;
  font-weight: 400;
  font-size: clamp(24px, 4vw, 32px);
}
h4 {
  font-size: 24px;
  font-weight: lighter;
  line-height: 32px;
}
h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
}
p {
  line-height: 24px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-f {
  display: flex;
}
.flex-column {
  display: flex;
  flex-flow: column wrap;
}
.flex-column-center {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.flex-center {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}
