@media screen and (min-width: 750px) and (max-width: 1024px) {
  main {
    gap: 0;
    display: grid;
    padding: 120px 0;        
    grid-template-columns: 150px 450px 150px;
/*140px 452px 140px*/
  }
  .main-content{
    align-content: center;
  }
  .text-container {
    flex-wrap: nowrap;
  }
  .text-container > h1 {
    font-size: 72px;
    line-height: 80px;
  }
  .text-container > h4 {
    width: 580px;
    font-size: 32px;
    line-height: 40px;
  }
  .logo-container {
    flex-wrap: nowrap;
  }
  .bg > img.desktop-ISO, .bg > img.mobile-ISO {
    display: none;
  }
  .bg > img.tablet-ISO {
    display: block;
  }
  .about-container{
  
    padding: 77px;
  }  
  .about{
    margin: 0 30px;
  }
  .about-container,
  .functions-container {
    gap: 200px;
    flex-flow: column wrap;
  }
  .text-functions{
    max-width: 38.25rem;
  }
  .container-infography {
    flex-direction: column;
  }
  .text-step{
    max-width: 216px;
  }
  .step {
    gap: 50px;
        justify-content: center;
    flex-direction: row;
  }
  img.img-line {
    height: 270px;
  }
  .step-2 {
    height: 215px;
  }
  .step-3 {
    align-items: flex-start;
  }
  .step-2-container {
    padding-top: 10px;
  }
  .circle-info > img.circle-info-m {
    width: 216px;
    height: 325px;
  }
  .circle-info > img.step-2 {
    width: 216px;
    height: 216px;
  }
  .circle-info > img.circle-info-m,
  img.m {
    display: block;
  }
  .circle-info > img.circle-info-d,
  .d {
    display: none;
  }
  .card-feature{
    height: 100%;
    max-width: 18.438rem;
    max-height: 20.5rem; 
  }
  .card-content{
    flex-direction: column;
  }
  .card-step{
    max-width: 216px;
    align-items: center;
  }
  .card-step > img {
    align-items: flex-end;
  }
  .line{
    transform: translateX(9.5rem);
  }
  .line > img {
    height: 50px;
  }
.button-benefits{
  max-width: 27rem;  
}
  .button-benefits:hover{
    max-width: 28rem;
  }
  .text-benefits{
    width: 15.25rem;
  }
  .left-column {
    display: none;
  }
  .contacto {
    padding: 50px 31px;
    border-radius: 30px;
    justify-content: center;
  }
  .container-contacto {
    width: 705px;
  }
  .fields-container {
    border-radius: 30px;
    padding: 85.5px 45.5px;
  }
  /* .nombre-apellido,
  .empresa-cuit,
  .email-contacto {
    flex-direction: column;
  } */
  form,
  .nombre-apellido,
  .empresa-cuit,
  .email-contacto {
    row-gap: 22px;
    column-gap: 24px;
  }
  .input, .input > label{
    width: 48%;
  }
  .tel{
    max-width: 170px;
  }
  .nombre-apellido, .empresa-cuit, .email-contacto{
    flex-direction: row;
  }
  .msj {
    width: 614px;
  }
  input.button {
    width: 615px;
  }
  footer{
    justify-content: flex-start;
    padding: 4.625rem 1.3125rem 3.375rem 1.3125rem;
  }
  .footer-container{
    padding: 0;
    width: 100%;
  }
  .info-containerF{
    width: 100%;
    justify-content: space-between;
  }
  .menu-contactF{
    flex-direction: row-reverse;
  }
  .firma{
    margin: 0 auto;
  }
}
